<a href="https://colab.research.google.com/github/andrniko/Coursera/blob/main/Coursera_IBM_Analyzing_a_real_WOrld_Data_Set_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Loading SQL extension and establishing a connection with the database

!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Collecting sqlalchemy==1.3.9
  Downloading https://files.pythonhosted.org/packages/89/4e/f10fc5063d1048b3813c0caf99f06ec2b73851ae1a939feb85315dacb3fc/SQLAlchemy-1.3.9.tar.gz (6.0MB)
     |████████████████████████████████| 6.0MB 5.1MB/s
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1203447 sha256=d72d6dd254ba3febb92cc89db85bd77ad6156b2c47cfca3cf5c23396f3bb9f2a
  Stored in directory: /root/.cache/pip/wheels/23/84/f4/c15e90bd4c87e0377dad50e670f4535715550f6fc3be27ea0f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Found existing installation: SQLAlchemy 1.4.15
    Uninstalling SQLAlchemy-1.4.15:
      Successfully uninstalled SQLAlchemy-1.4.15
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading https://files.pythonhosted.org/packages/62/af/88781f8dc7a414507ab94a2b91319bdbd3b5375e38353446c113c548adcb/ibm_db_sa-0.3.6.tar.gz
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (1.3.9)
Collecting ibm_db>=2.0.0
  Downloading https://files.pythonhosted.org/packages/dc/7c/26c1eb0ce78689a6a6775337b43f498f8e901790ec0bafd6f24e2ef594af/ibm_db-3.0.4.tar.gz (796kB)
     |████████████████████████████████| 798kB 7.7MB/s
Building wheels for collected packages: ibm-db-sa, ibm-db
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.6-cp37-none-any.whl size=28873 sha256=1d8fc6af864e61f7e54100626ea57ff2c1321302756750d96efe6723fefb6a71
  Stored in directory: /root/.cache/pip/wheels/97/b5/8a/17a01086a100d48a008b2b556843b23fef5eb69a6b4f04c419
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.4-cp37-cp37m-linux_x86_64.whl size=40999811 sha256=0e5964b09ae9ba92f2f625fccdb32e7b62c3067da9034d1382c66a29df45cbeb
  Stored in directory: /root/.cache/pip/wheels/d9/85/7a/07dd5eba2f2d6a040be8aefb2b5051b0408c7f997259b5756b
Successfully built ibm-db-sa ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.0.4 ibm-db-sa-0.3.6

In [ ]:
%reload_ext sql

In [ ]:
%sql ibm_db_sa://wsj05279:s8ztpmdlbw+bzl4c@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
#Storin the dataset in a table

import pandas as pd

chicago_data = pd.read_csv("https://data.cityofchicago.org/resource/jcxq-k9xf.csv")
 
%sql PERSIST chicago_data

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%sql select * from chicago_data limit 5;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Probelms

Problem 1
How many rows are in the dataset?

In [ ]:
%sql select count(*) from chicago_data;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

There are 78 rows in the dataset

### Problem 2

##### How many community areas in Chicago have a hardship index greater than 50.0?

In [ ]:
%sql select count(*) from chicago_data where hardship_index > 50;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Problem 3

##### What is the maximum value of hardship index in this dataset?

In [ ]:
%sql select max(hardship_index) from chicago_data;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Problem 4

##### Which community area which has the highest hardship index?

In [ ]:
%sql select community_area_name from chicago_data where hardship_index = (select max(hardship_index) from chicago_data);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Problem 5

##### Which Chicago community areas have per-capita incomes greater than $60,000?

In [ ]:
%sql SELECT community_area_name from chicago_data where per_capita_income_>60000;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Problem 6

##### Create a scatter plot using the variables `per_capita_income_` and `hardship_index`. Explain the correlation between the two variables.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns



income_hardship = %sql select per_capita_income_, hardship_index from chicago_data;
plot = sns.jointplot(x = "per_capita_income_", y = "hardship_index", data = income_hardship.DataFrame())

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

AttributeError: ignored

It can easily be seen that the per capita income and hardship index are in a reverse proportionate relationship.